server {
    listen 80 default_server;
    server_name _;
{% if not openresty_allow_non_servername %}
    return 403;
{% else %}
    location / {
        content_by_lua_block {
            ngx.say("It works")
        }
    }
{% endif %}
}
