# {{ ansible_managed }}
{% if item.force_https|default(false)  %}
server {
    # Redirect all requests to HTTPS
    listen 80;
    server_name {{ item.server_name }};
    return 301 https://$host$request_uri;
}
{% else %}
server {
    listen 80;
    {% if item.enable_ssl|default(false) -%}
    listen 443 ssl;
    {% endif -%}
    server_name  {{ item.server_name }};
    charset utf-8;
    root   {{ item.document_root|default("/usr/share/nginx/" + item.server_name + "/current/") }};
    index  index.html index.htm index.php;
    access_log  {{ openresty_log_path }}/{{ item.server_name }}.access.log json;
    error_log   {{ openresty_log_path }}/{{ item.server_name }}.error.log warn;

    {% if item.enable_ssl|default(false) -%}
    ssl_ciphers         EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH;
    ssl_protocols       TLSv1.1 TLSv1.2;
    ssl_certificate     /usr/local/openresty/nginx/conf/certs/{{ item.server_name }}.cert.pem;
    ssl_certificate_key /usr/local/openresty/nginx/conf/certs/{{ item.server_name }}.key.pem;
    ssl_session_cache   shared:SSL:10m;
    ssl_session_timeout 10m;
    {% endif -%}

    location / {
        try_files $uri $uri/ /{{ item.index|default("index.php") }}$is_args$args = 404;
    }

    {% if item.extra_parameters -%}
    {{ item.extra_parameters }}
    {% endif -%}

    error_page  404              /404.html;
    location = /40x.html {
        root   /usr/local/openresty/nginx/html;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/local/openresty/nginx/html;
    }

    {% if item.enable_fpm|default(true) -%}
    location ~ \.php$ {
        fastcgi_pass   127.0.0.1:9000;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        fastcgi.conf;
    }
    {% endif -%}
}
{% endif %}